{% extends 'base.html.twig' %}

{% block title %}Hello ListeController!{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="container">
		<h1>Votre Liste {{ liste.name }}</h1>
	</div>
</div>
	{%  for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	{%  for message in app.flashes('error') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}
<div class="container-fluid">
	<div class="container">
		<ul>
			<li>{{ liste.description }}</li>
			<li>{{ liste.children }}</li>

		</ul>
		{% if  liste.isShared %}
			<div class="info_shared_list">
				<p>Votre Liste est partagée !</p>
			</div>
			<button class="btn btn-lg btn-primary text-white" >
				<a class="text-white" href="{{ path('liste_close', {id: liste.id}) }}">
					<i class="icon-plus-sign-alt">Close my List</i>
				</a>
			</button>
			<div>
				<p>Voici le lien :</p>
				<p>{{ liste.sharedurl }}</p>
			</div>
		{% else %}
			<button id="shared" class="btn btn-lg btn-primary text-white" >
				<a class="text-white" href="{{ path('liste_shared', {id: liste.id}) }}">
					<i class="icon-plus-sign-alt">Shared List</i>
				</a>
			</button>
		{% endif %}
	</div>
	<button class="btn btn-lg btn-primary text-white" >
		<a class="text-white" href="{{ path('objet_new', {id: liste.id}) }}">
			<i class="icon-plus-sign-alt">Create objet</i>
		</a>
	</button>
</div>
	<div class="container-fluid container-objets">
		<table class="table">
			<thead>
			<tr>
				<th style="width: 20%"  scope="col">image</th>
				<th scope="col">title</th>
				<th style="width: 20%" scope="col">description</th>
				<th scope="col">link</th>
				<th scope="col">state</th>
				<th scope="col">brand</th>
				<th scope="col">reservedBy</th>
				<th scope="col">Actions</th>
			</tr>
			</thead>
		{% for objet in objets %}
			<tbody>
			<tr>
				<td><img class="img-objet" src="{{ asset('' ~ objet.image) }}"/></td>
				<td>{{ objet.title }}</td>
				<td >{{ objet.description }}</td>
				<td><a href="{{ objet.link }}"> Le lien {{ objet.title }}</a></td>
				<td>{{ objet.state }}</td>
				<td>{{ objet.brand }}</td>
{#				{{TODO: Voir actions de réserver par un autre utilisateur}}#}
				<td></td>
				<td>

					<button class="btn btn-lg btn-primary text-white" >
						<a class="text-white" href="{{ path('objet_edit', {id: liste.id, objetId: objet.id}) }}">
							<i class="icon-edit icon-large">	Edit </i>
						</a>
					</button>
					<button type="button" class="btn btn-primary px-3">
						<a class="text-white" href="{{ path('objet_delete', {id: liste.id, objetId: objet.id}) }}">
							<i class="icon-trash"></i>
						</a>
					</button>
				</td>
			</tr>
			</tbody>
		{% else %}
			<div>
				<h2>no records found</h2>
			</div>
		{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
