{% extends 'base.html.twig' %}

{% block title %}Liste de {{ liste.name }} {% endblock %}

{% block body %}
<section class="parallax" data-url="/V3/images/parallax2_opt.jpg" data-mobile="true" data-speed="0.7" data-direction="inverse">
	<div class="parallax_image" style="background-image: url({{ asset('/images/listebk.jpg') }})"></div>
		<div class="container-fluid">
				<div class="container container-liste">
				<div class="block-liste-infos">
					<h1>Votre Liste {{ liste.name }}</h1>
					<p>{{ liste.famille }}</p>
					<p>{{ liste.description }}</p>
					<p>{{ liste.children }}</p>
					<p>{{ liste.adresse }}</p>
					{% if  liste.isShared %}
					<div class="info_shared_list">
						<p>Votre Liste est partagée !</p>
					</div>
					{% endif %}
				</div>
				<div class="actions-liste">
					{% if  liste.isShared %}
						<button class="btn btn-lg liste_btn btn_warning text-white" data-toggle="tooltip" data-html="true" title="Attention votre liste ne sera plus accessible !" >
							<a class="text-white" href="{{ path('liste_close', {id: liste.id}) }}">
								<i class="fas fa-times-circle"></i>Fermer ma liste</i>
							</a>
						</button>
						<div class="shared_liste">
							<p>Voici le lien : <span class="liste_link">{{ liste.sharedurl }}</span></p>
							<a href="{{ liste.sharedurl }}">Voir votre liste <i class="fas fa-arrow-right"></i></a>
						</div>
					{% else %}
						<button id="shared" class="btn btn-lg  liste_btn btn_action text-white" >
							<a class="text-white" href="{{ path('liste_shared', {id: liste.id}) }}">
								<i class="fas fa-share-alt"></i>Partager ma liste</i>
							</a>
						</button>
					{% endif %}
				</div>
				<button class="btn btn-lg liste_btn btn_action text-white" >
					<a class="text-white" href="{{ path('objet_new', {id: liste.id}) }}">
						<i class="icon-plus-sign-alt"> Ajouter</i>
					</a>
				</button>
			</div>
		</div>
</section>
{% if liste.genre == "garcon" %}
	<div class="container-fluid container-objets_grid garcon">
{% else %}
	<div class="container-fluid container-objets_grid fille">
{% endif %}
		{% if objets %}
		{% for objet in objets %}
			<div class="card objet-item">
				<img class="card-img-top"src="{{ asset('' ~ objet.image) }}" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">{{ objet.title }}</h5>
					<p class="card-text description">
						{{ objet.description }}
					</p>
					<p>
						{% if objet.link %}
							<a class="objet_link" href="{{ objet.link }}" target="_blank">
								{{ objet.title }}
								<i class="fas fa-external-link-alt"></i>
							</a>
						{% endif %}
					</p>
					<p><span class="label">Etat : </span>{{ objet.state }}</p>
					<p><span class="label">Marque : </span>{{ objet.brand }}</p>
					<p>
						{% if objet.datechoice == "Avant la naissance" %}
							<div class="alert-danger">
								<img class="delivery" src="{{ asset('/images/delivery.png') }}"/>
								{{ objet.datechoice }}
							</div>
						{% else %}
							<div>{{ objet.datechoice }}</div>
						{% endif %}
					</p>
				</div>
				<div class="card-body card-actions">
					<button class="btn btn-lg btn_action text-white" >
						<a class="text-white" href="{{ path('objet_edit', {id: liste.id, objetId: objet.id}) }}">
							<i class="icon-edit icon-large">	Modifier </i>
						</a>
					</button>
					<button type="button" class="btn btn_warning px-3">
						<a class="text-white" href="{{ path('objet_delete', {id: liste.id, objetId: objet.id}) }}">
							<i class="icon-trash"></i>
						</a>
					</button>
				</div>
			</div>
		{% endfor %}
		{% else %}
		<div>
			<h3>No records found !</h3>
		</div>
		{% endif %}
	</div>

{% endblock %}
