{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
	<div>
		<img class="home-bk" src="{{ asset('/images/home-bk.jpg') }}"/>
	</div>
	<div class="container-fluid">
		<div class="container">
			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}
				<div class="container login-block col-md-6">
					<h1>Connectez vous</h1>
					<div class="form-group ">
						<label for="inputEmail">Email</label>
						<input placeholder="Email" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
					</div>
					<div class="form-group">
						<label for="inputPassword">Password</label>
						<input placeholder="Password" type="password" name="password" id="inputPassword" class="form-control" required>
					</div>
					<div class="form-group">
						<input type="hidden" name="_csrf_token"
							   value="{{ csrf_token('authenticate') }}"
						>
						<button class="btn btn-lg liste_btn btn_action" type="submit">
							Valider
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>

{% endblock %}
