
{% extends 'base.html.twig' %}
{% block title %}Hello HomeController!{% endblock %}

{% block body %}
	<div>

		<img class="home-bk" src="{{ asset('/images/home-bk.jpg') }}"/>
		<h1 class="text-center">BABY LIST</h1>
	</div>
	<div class="container-fluid">
		<div class="row container_info_liste">
			<div class="col-md-3 col-sm-4 col-xs-12">
				<i class="fas fa-clipboard-list icon_info_liste one"></i>
				<div class="info_liste one">1. Créez votre liste</div>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-12" >
				<i class="fas fa-plus-square icon_info_liste two"></i>
				<div class="info_liste two" >2. Ajoutez vos objets</div>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-12" >
				<i class="fas fa-share-alt-square icon_info_liste three"></i>
				<div class="info_liste three" >3. Partagez votre liste</div>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-12" >
				<i class="fas fa-gift icon_info_liste four"></i>
				<div class="info_liste four" >4. Recevez vos cadeaux</div>
			</div>
		</div>
			<div class="container user_container_listes">
			{% if listes %}
				<h2>Vos listes </h2>
				<div class="container-listes">
					{% for liste in listes %}
						<div class="card liste-item" >
							<img class="card-img-top" src="{{ asset('' ~ liste.image) }}" alt="Card image {{ liste.name }}">
							<div class="card-body">
								<h5 class="card-title">{{ liste.name }}</h5>
								<p class="card-text">{{ liste.children }}</p>
								<p class="card-text">{{ liste.description }}</p>
								<a class="link_to_liste" href="{{ path('liste', {id:liste.id}) }}">Got to {{ liste.name }}<i class="fas fa-angle-right"></i></a>
							</div>
						</div>
					{% else %}
						<div>
							<h2>Vous pouvez créer Vous aussi votre Liste</h2>
							<div class="container">
								<button>
									<a href="{{ path('create_liste') }}">Create Liste</a>
								</button>
							</div>
						</div>
					{% endfor %}
					{% endif %}
				</div>
			</div>
	</div>
{% endblock %}
