{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
	<div>
		<img class="home-bk" src="{{ asset('/images/home-bk.jpg') }}"/>
	</div>
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
	<div class="container login-block col-md-6">
		<h1>Créer votre compte</h1>
		{{ form_start(registrationForm) }}
			<div class="form-group ">
				<div class="form-group ">
					{{ form_row(registrationForm.name) }}
				</div>
				<div class="form-group ">
					{{ form_row(registrationForm.email) }}
				</div>
				<div class="form-group ">
					{{ form_row(registrationForm.plainPassword, {
						label: 'Password'
					}) }}
				</div>
				<div class="form-group">
					 {{ form_row(registrationForm.agreeTerms) }}
				</div>
				<div class="form-group">
					<button class="btn btn-lg liste_btn btn_action" type="submit">
						Valider
					</button>
				</div>
			</div>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
