{% extends 'base.html.twig' %}

{% block title %}Hello SharedListController!{% endblock %}


{% block body %}
{% if app.user %}
	{% if  liste.isShared %}
		<div class="container-fluid">
			<div class="container">
				<h1>Voici la Liste de {{ liste.name }}</h1>
			</div>
		</div>
		<div class="container-fluid">
			<div class="container">
				<ul>
					<li>{{ liste.description }}</li>
					<li>{{ liste.children }}</li>
					<li>{{ liste.adresse }}</li>
				</ul>
			</div>
		</div>
		<div class="container-fluid container-objets">
			<table class="table">
				<thead>
				<tr>
					<th style="width: 20%"  scope="col">image</th>
					<th scope="col">title</th>
					<th style="width: 20%" scope="col">description</th>
					<th scope="col">link</th>
					<th scope="col">state</th>
					<th scope="col">brand</th>
					<th scope="col">date</th>
					<th scope="col">reservedBy</th>
				</tr>
				</thead>
				{% for objet in objets %}
					<tbody>
					<tr>
						<td><img class="img-objet" src="{{ asset('' ~ objet.image) }}"/></td>
						<td>{{ objet.title }}</td>
						<td >{{ objet.description }}</td>
						<td><a href="{{ objet.link }}"> Le lien {{ objet.title }}</a></td>
						<td>{{ objet.state }}</td>
						<td>{{ objet.brand }}</td>
						<td>
							{% if objet.datechoice == "Avant la naissance" %}
								<div><img class="delivery" src="{{ asset('/images/delivery.png') }}"/></div>
								<div class="alert-danger">{{ objet.datechoice }}</div>
							{% else %}
								<div>{{ objet.datechoice }}</div>
							{% endif %}

						</td>
						<td>
							{% if  objet.reservedby %}
								{% if app.user.id == objet.reservedby.id %}
									<div>Merci {{ app.user.name}} pour votre reservation <i class="fas fa-heart"></i> </div>
									<a class="warning" href="{{ path('objet_cancel_reserved', {id:liste.id, objetId: objet.id}) }}">Annuler ma Reservation</a>
								{% else %}
									<button class="btn disabled btn-lg liste_btn btn_warning text-white" >
										<a class="text-white" href="{{ path('objet_reserved', {id: liste.id, objetId: objet.id}) }}">
											Déja réserver <i class="fas fa-heart"></i>
										</a>
									</button>
								{% endif %}
							{% else %}
								<button class="btn btn-lg liste_btn btn_warning text-white" >
									<a class="text-white" href="{{ path('objet_reserved', {id: liste.id, objetId: objet.id}) }}">
										Je reserve <i class="fas fa-heart"></i>
									</a>
								</button>
							{% endif %}
						</td>
					</tr>
					</tbody>
				{% else %}
					<div>
						<h2>no records found</h2>
					</div>
				{% endfor %}
			</table>
		</div>
	{% else %}
		<div class="container-fluid">
			<div class="container">
				<h1>Voici la Liste de {{ liste.name }}</h1>
			</div>
		</div>
		<div class="container-fluid">
			<div class="container">
				<div>{{ liste.description }}</div>
				<div>Vous n'avez pas partagé votre liste, elle n'est donc pour l'instant accessible !</div>
				<a href="{{ path('liste', {id:liste.id}) }}">{{ liste.name }}</a>
			</div>
		</div>
	{% endif %}
{% else %}
<img class="home-bk" src="{{ asset('/images/home-bk.jpg') }}"/>
<div class="container-fluid" >
	<div class="alert-danger text-center">Enregistrez vous pour accéder a cette liste, elle n'est pour l'instant inaccessible !</div>
	<div class="container">
		<div>{{ liste.name }}</div>
		<div>{{ liste.description }}</div>
		<div>{{ liste.children }}</div>
		<button class="btn btn-lg btn_action text-white" >
			<a class="text-white" href="{{ path('app_register') }}">Créer votre compte</a>
		</button>

	</div>
</div>
{% endif %}
{% endblock %}
