
{% extends 'base.html.twig' %}
{% block title %}Hello HomeController!{% endblock %}

{% block body %}
	{% if listes %}
	<div>
		<img class="home-bk" src="{{ asset('/images/home-bk.jpg') }}"/>
		<h1 class="text-center">Vos listes de naissance</h1>
	</div>
	<div class="container-fluid">
			<div class="container">
				<h2>Vos listes</h2>
				<div class="container-listes">
					{% for liste in listes %}
						<div class="card liste-item" >
							<img class="card-img-top" src="{{ asset('' ~ liste.image) }}" alt="Card image {{ liste.name }}">
							<div class="card-body">
								<h5 class="card-title">{{ liste.name }}</h5>
								<p class="card-text">{{ liste.children }}</p>
								<p class="card-text">{{ liste.description }}</p>
								{% if  liste.isShared %}
									<div class="info_shared_list">
										<p>Votre liste est déja partagée !</p>
										<a class="text-white" href="{{ liste.sharedurl }}">Voir votre liste <i class="fas fa-arrow-right"></i></a>
									</div>
									<div class="edit_list">
										<button class="btn btn-lg btn_action text-white" >
											<a class="text-white" href="{{ path('liste', {id: liste.id}) }}">
												<i class="fas fa-cart-plus">	Ajouter des objets </i>
											</a>
										</button>
									</div>
									<div class="edit_list">
										<button class="btn btn-lg btn_action text-white" >
											<a class="text-white" href="{{ path('liste_edit', {id: liste.id}) }}">
												<i class="icon-edit icon-large">	Modifier </i>
											</a>
										</button>
									</div>
								{% else %}
									<div class="edit_list">
										<button class="btn btn-lg btn_action text-white" >
											<a class="text-white" href="{{ path('liste_edit', {id: liste.id}) }}">
												<i class="icon-edit icon-large">	Modifier </i>
											</a>
										</button>
									</div>
									<div class="edit_list">
										<button class="btn btn-lg btn_action text-white" >
											<a class="text-white" href="{{ path('liste', {id: liste.id}) }}">
												<i class="fas fa-cart-plus">	Ajouter des objets </i>
											</a>
										</button>
									</div>
								{% endif %}
								<div class="delet-liste">
									<button type="button" class="btn btn_warning px-3">
										<a class="text-white" href="{{ path('liste_delete', {id: liste.id}) }}">
											<i class="icon-trash"></i>
										</a>
									</button>false
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
	</div>
	{% else %}
		<img class="home-bk" src="{{ asset('/images/home-bk.jpg') }}"/>
		<div class="container-fluid" >
			<div class="container">
				<h1>Vous pouvez créer Vous aussi votre Liste</h1>
				<button class="btn btn-lg  liste_btn btn_action text-white" >
					<a class="text-white" href="{{ path('create_liste') }}">Créer ma Liste</a>
				</button>
			</div>
			<div class="row container_info_liste">
				<div class="col-md-3 col-sm-4 col-xs-12">
					<i class="fas fa-clipboard-list icon_info_liste one"></i>
					<div class="info_liste one">1. Créez votre liste</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12" >
					<i class="fas fa-plus-square icon_info_liste two"></i>
					<div class="info_liste two" >2. Ajoutez vos objets</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12" >
					<i class="fas fa-share-alt-square icon_info_liste three"></i>
					<div class="info_liste three" >3. Partagez votre liste</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12" >
					<i class="fas fa-gift icon_info_liste four"></i>
					<div class="info_liste four" >4. Recevez vos cadeaux</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
