{% extends 'base.html.twig' %}

{% block title %}Hello CreateListeController!{% endblock %}

{% block body %}
	<div>
		<img class="home-bk" src="{{ asset('/images/home-bk.jpg') }}"/>
	</div>
	<div class="container-fluid">
		<div class="container">
			<h1 class="text-center">Créer votre Babyliste</h1>
		</div>
	</div>
	<div class="container-fluid">
		<div class="container ">
			{{ form_errors(listeform) }}
			{#	{{ Détails du formulaire élément par élémént avec des éléments en plus }}#}
			{{ form_start(listeform) }}
			<div class="row form_custom">
				<div class="col">
					{{ form_row(listeform.name) }}
					{{ form_errors(listeform.name) }}
				</div>
				<div class="col">
					<div class="form-group">
						<label for="endDate">Date prévue</label>
						{{ form_widget(listeform.end_date) }}
					</div>
				</div>
				<div class="col">
					{{ form_row(listeform.famille) }}
					{{ form_errors(listeform.famille) }}
				</div>
			</div>
			<div class="form-group ">
				{{ form_row(listeform.description) }}
				{{ form_errors(listeform.description) }}
			</div>
			<div class="row form_custom">
				<div class="col">
					{{ form_row(listeform.children) }}

				</div>
				<div class="col">
					{{ form_row(listeform.genre) }}
				</div>
			</div>
			<div class="row form_custom">
				<div class="col">
					{{ form_row(listeform.adresse) }}
				</div>
				<div class="col">
				{{ form_row(listeform.image_file) }}
				</div>
			</div>
			<div class="form-group">
				{{ form_row(listeform.Envoyer) }}
			</div>
		</div>
		{{ form_end(listeform) }}
	</div>
{% endblock %}
