{% extends 'base.html.twig' %}

{% block title %}Hello CreateListeController!{% endblock %}

{% block body %}
	<div>
		<img class="home-bk" src="{{ asset('/images/home-bk.jpg') }}"/>
	</div>
	<div class="container-fluid">
		<div class="container">
			<h1 class="text-center">Cherchez une Babyliste</h1>
		</div>
	</div>
	<div class="container-fluid">
		<div class="container ">
			{{ form_errors(listesform) }}
			{#	{{ Détails du formulaire élément par élémént avec des éléments en plus }}#}
			{{ form_start(listesform) }}
			<div class="form-group ">
				{{ form_row(listesform.famille) }}
				{{ form_errors(listesform.famille) }}
			</div>
			<div class="form-group">
				{{ form_row(listesform.Rechercher) }}
			</div>
		</div>
		{{ form_end(listesform) }}
	</div>
	<div class="container-fluid">
		{% if listes_public %}
		<div class="container-fluid block-public-listes">
			<div class="container">
				<h2 class="text-center">Les listes accessibles</h2>
			</div>
		</div>
		<div class="container col-lg-6 col-md-12 listes_public row">
			{% for liste in listes_public %}
				{% if  liste.isShared %}
					{% if liste.genre == "garcon" %}
						<div class="card liste-item col-md-12 garcon ">
							<img class="card-img-top" src="{{ asset('' ~ liste.image) }}" alt="Card image {{ liste.name }}">
							<div class="card-body shared">
								<h5 class="card-title">{{ liste.name }}</h5>
								<p class="card-text">{{ liste.children }}</p>
								<p class="card-text">{{ liste.description }}</p>
								<div class="shared_liste">
									<a class="" href="{{ liste.sharedurl }}">Voir la liste de {{ liste.owner.name }} <i class="fas fa-arrow-right"></i></a>
								</div>
							</div>
							<span class="card_famille"><i class="fas fa-house-user"></i> {{ liste.famille }} </span>
						</div>
					{% else %}
						<div class="card liste-item col-md-12 fille ">
							<img class="card-img-top" src="{{ asset('' ~ liste.image) }}" alt="Card image {{ liste.name }}">
							<div class="card-body shared">
								<h5 class="card-title">{{ liste.name }}</h5>
								<p class="card-text">{{ liste.children }}</p>
								<p class="card-text">{{ liste.description }}</p>
								<div class="shared_liste">
									<a class="" href="{{ liste.sharedurl }}">Voir la liste de {{ liste.owner.name }} <i class="fas fa-arrow-right"></i></a>
								</div>
							</div>
							<span class="card_famille"><i class="fas fa-house-user"></i> {{ liste.famille }} </span>
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
		{% else %}
			<div class="container">
				<div class="alert-danger">
					<p>Aucuns résultats pour votre recherche !</p>
				</div>
			</div>
	</div>
	{% endif %}
{% endblock %}
